/* You can add global styles to this file, and also import other style files */
.bg {
    /* The image used*/
    background-image: url("src/assets/bg/2.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }
  /* .bg{
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
} */